<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<script>
		$(function(){
			$.ajax({
				url: "",
				type: "post",
				dataType: "json",
				success：function(data){
					$("#table_rolesNotOwn").bootstrapTable("load",data.notOwned);
					$("#table_rolesOwn").bootstrapTable("load",data.Owned);
				}
			});
		});
	</script>
	<div style="width:96%;">
		<div class="col-xs-6">
			<table id="table_rolesNotOwn" data-toggle="table">
				<thead>
					<tr>
						<th data-checkbox="true"></th>
						<th data-field="rolename" data-halign="center" data-align="center">角色</th>
						<th data-field="remark" data-halign="center" data-align="center">角色说明</th>
						<th data-field="operate" data-halign="center" data-align="center">操作</th>
					</tr>
				</thead>
			</table>
		</div>
		<div class="col-xs-6">
			<table id="table_rolesOwn" data-toggle="table">
				<thead>
					<tr>
						<th data-checkbox="true"></th>
						<th data-field="rolename" data-halign="center" data-align="center">角色</th>
						<th data-field="remark" data-halign="center" data-align="center">角色说明</th>
						<th data-field="operate" data-halign="center" data-align="center">操作</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</body>
</html>