<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="layout/default">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body layout:fragment="content">
<script type="text/javascript">
function showAddDialog(flag){
	var title = "新增";
	var row;
	if(flag == "edit"){
		if($("#table_roles").bootstrapTable('getSelections').length == 0){
			$.alert("请选择一条数据");
			return;
		}
		title = "修改";
		row = $("#table_roles").bootstrapTable('getSelections')[0];
	}
	var content = '<form id="form_role" action="/perm/addRole" class="form-horizontal" style="width:96%;" role="form" method="post">' +
				  '<input type="hidden" id="id" name="id"/>' +
				  '<div class="form-group">' +
				  '<label for="rolename" class="col-md-2 control-label">角色名</label>' +
				  '<div class="col-md-10"><input type="text" class="form-control" id="rolename" name="rolename"/></div>' +
			 	  '</div>' +
			 	  '<div class="form-group">' +
				  '<label for="remark" class="col-md-2 control-label">角色说明</label>' +
				  '<div class="col-md-10"><textarea rows="3" class="form-control" id="remark" name="remark"></textarea></div>' +
			 	  '</div>' +
				  '</form>';
	$.confirm({
		title: title,
		content: content,
		columnClass: "col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3",
		buttons: {
	        ok: {
	            text: '确定',
	            id: 'btn_save',
	            btnClass: 'btn btn-primary', 
	            action: function () {
	            	var that = this;
	            	$("#form_role").data("bootstrapValidator").validate();  
	    			if($("#form_role").data("bootstrapValidator").isValid()){
	    				$("#form_role").ajaxSubmit(function(data){
	    					if(data.result == "false"){
	    						$.alert(data.errors[0]);
	    					}else{
	    						$.alert({
	    							content: "保存成功",
	    							onClose: function(){	    								
			    						that.close();
			    						// 刷新表格
			    						$("#table_roles").bootstrapTable('refresh');
	    							}
	    						});   						
	    					}
	    				});
	    			} 
 					return false;
	            }
	        },
	        close: {
	            text: '取消'
	        }
	    },
	    onContentReady: function () {
	    	if(flag == "edit"){
	    		$("#id").val(row.id);
	    		$("#rolename").val(row.rolename).attr("readonly", "readonly");
	    		$("#remark").val(row.remark);
	    	}
	    	$('#form_role').bootstrapValidator({
				message : 'This value is not valid',
				feedbackIcons : {
					valid : 'glyphicon glyphicon-ok',
					invalid : 'glyphicon glyphicon-remove',
					validating : 'glyphicon glyphicon-refresh'
				},
				fields : {
					rolename : {
						message : '验证失败',
						validators : {
							notEmpty : {
								message : '请输入角色名'
							},
							regexp : {
								regexp : /^\w{4,20}$/,
								message : '长度必须在4到18位之间，并且只能包含字母、数字和下划线'
							}
						}
					},
					remark : {
						message : '验证失败',
						validators : {
							notEmpty : {
								message : '请输入角色说明'
							},
							stringLength : {
								max : 100,
								message : '长度超出最大长度100字符'
							}
						}
					}
				}
			});
	    }
	});
}

function deleteRole(){
	var rows = $("#table_roles").bootstrapTable('getSelections');
	if(rows.length){
		$.confirm({
			content: "删除后不能恢复，确定要删除？",
			buttons: {
		        ok: {
		            text: '确定',
		            btnClass: 'btn btn-primary', 
		            action: function () {
		            	$.ajax({
							url: "/perm/deleteRole",
							data: {
								id: rows[0].id,
								rolename: rows[0].rolename
							},
							dataType: "json",
							success: function(data){
								if(data.result == "true"){
									$.alert("删除成功");
									// 刷新表格
									$("#table_roles").bootstrapTable('remove',{
										field: "rolename",
										values: [rows[0].rolename]
									});
								}else{
									$.alert("删除失败");
								}
							}
						}); 
		            }
		        },
		        close: {
		            text: '取消'
		        }
		    }
		});
	}else{
		$.alert("请选择一条数据");
	}
}

function initOperate(value, row, index){
	var c = '<a title="设置权限点"  href="javascript:showRoleDialog(\''
		+ row.id
		+ '\');"><i class="glyphicon glyphicon-cog"></i></a> ';
	return c;
}

function showRoleDialog(roleId){
	$.dialog({
		title: "角色设置",
		content: "url:/perm/dialog_roleperms?roleId=" + roleId,
		columnClass: "col-sm-8 col-sm-offset-2"
	});
}
</script>

	<div class="container">
		
		<div id="toolbar">
			<div class="btn-group">
				<button class="btn btn-default" onclick="showAddDialog('add')">
					<i class="glyphicon glyphicon-plus"></i>
				</button>
				<button class="btn btn-default" onclick="showAddDialog('edit')">
					<i class="glyphicon glyphicon-edit"></i>
				</button>
				<button class="btn btn-default" onclick="deleteRole()">
					<i class="glyphicon glyphicon-trash"></i>
				</button>
			</div>
		</div>
		
		<table id="table_roles" data-toggle="table" data-url="/perm/allRoles" 
			data-pagination="true" data-side-pagination="server" data-page-size="10"
			data-show-refresh="true" data-show-toggle="true" data-show-columns="true"
			data-search="true" data-show-search-button="true" data-single-select="true"
			data-toolbar="#toolbar">				
			<thead>
				<tr>
					<th data-checkbox="true"></th>
					<th data-field="rolename" data-halign="center" data-align="center">角色</th>
					<th data-field="remark" data-halign="center" data-align="center">角色说明</th>
					<th data-field="createTime" data-halign="center" data-align="center">创建时间</th>
					<th data-field="operate" data-halign="center" data-align="center" data-formatter="initOperate">权限点设置</th>
				</tr>
			</thead>
		</table>	
	</div>
	
</body>
</html>