<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="layout/default">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body layout:fragment="content">
<script type="text/javascript">
function showAddDialog(){
	
	var content = '<form id="form_role" action="/perm/addRole" class="form-horizontal" style="width:96%;" role="form" method="post">' +
				  '<div class="form-group">' +
				  '<label for="rolename" class="col-md-2 control-label">角色名</label>' +
				  '<div class="col-md-10"><input type="text" class="form-control" id="rolename" name="rolename"/></div>' +
			 	  '</div>' +
			 	  '<div class="form-group">' +
				  '<label for="remark" class="col-md-2 control-label">角色说明</label>' +
				  '<div class="col-md-10"><textarea rows="3" class="form-control" id="remark" name="remark"></textarea></div>' +
			 	  '</div>' +
				  '</form>';
	$.confirm({
		title: "新增角色",
		content: content,
		columnClass: "col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3",
		buttons: {
	        ok: {
	            text: '确定',
	            id: 'btn_save',
	            btnClass: 'btn btn-primary', 
	            action: function () {
	            	var that = this;
	            	$("#form_role").data("bootstrapValidator").validate();  
	    			if($("#form_role").data("bootstrapValidator").isValid()){
	    				$("#form_role").ajaxSubmit(function(data){
	    					if(data.result == "false"){
	    						$.alert(data.errors[0]);
	    					}else{
	    						$.alert({
	    							content: "保存成功",
	    							onClose: function(){	    								
			    						that.close();
			    						// 刷新表格
			    						$("#table_users").bootstrapTable('refresh');
	    							}
	    						});   						
	    					}
	    				});
	    			} 
 					return false;
	            }
	        },
	        close: {
	            text: '取消'
	        }
	    },
	    onOpen: function () {
	    	$('#form_role').bootstrapValidator({
				message : 'This value is not valid',
				feedbackIcons : {
					valid : 'glyphicon glyphicon-ok',
					invalid : 'glyphicon glyphicon-remove',
					validating : 'glyphicon glyphicon-refresh'
				},
				fields : {
					rolename : {
						message : '验证失败',
						validators : {
							notEmpty : {
								message : '请输入角色名'
							},
							regexp : {
								regexp : /^\w{4,20}$/,
								message : '长度必须在4到18位之间，并且只能包含字母、数字和下划线'
							}
						}
					},
					remark : {
						message : '验证失败',
						validators : {
							notEmpty : {
								message : '请输入角色说明'
							},
							stringLength : {
								max : 100,
								message : '长度超出最大长度100字符'
							}
						}
					}
				}
			});
	    }
	});
}
function showEditDialog(){
	var rows = $("#table_users").bootstrapTable('getSelections');
	if(rows.length){		
		$.dialog({
			title: "修改角色",
			content: "url:/user/dialog_edituser/" + rows[0].account,
			columnClass: "col-sm-8 col-sm-offset-2"
		}); 
	}else{
		$.alert("请选择一条数据");
	}
}
</script>

	<div class="container-fluid">		
		<div class="hidden-xs col-sm-3 col-lg-2" >
			<ul class="nav nav-pills nav-stacked" style="min-height: 500px; border-radius: 5px; background-color: #f8f8f8;">
	            <li><a href="jvascript:">用户管理</a></li>
				<li class="active"><a href="jvascript:">角色管理</a></li>
	            <li><a href="jvascript:">权限管理</a></li>       
	        </ul>
		</div>
		<div class="col-xs-12 col-sm-9 col-lg-10">
			<div id="toolbar">
				<div class="btn-group">
					<button class="btn btn-default" onclick="showAddDialog()">
						<i class="glyphicon glyphicon-plus"></i>
					</button>
					<button class="btn btn-default">
						<i class="glyphicon glyphicon-trash"></i>
					</button>
					<button class="btn btn-default" onclick="showEditDialog()">
						<i class="glyphicon glyphicon-edit"></i>
					</button>
				</div>
			</div>
			
			<table id="table_users" data-toggle="table" data-url="/perm/roleAndUsers" 
				data-pagination="true" data-side-pagination="server" data-page-size="10"
				data-show-refresh="true" data-show-toggle="true" data-show-columns="true"
				data-search="true" data-show-search-button="true" data-single-select="true"
				data-toolbar="#toolbar">
				
				<thead>
					<tr>
						<th data-checkbox="true"></th>
						<th data-field="rolename" data-halign="center" data-align="center">角色</th>
						<th data-field="remark" data-halign="center" data-align="center">角色说明</th>
						<th data-field="account" data-halign="center" data-align="center">用户名</th>
						<th data-field="nickname" data-halign="center" data-align="center">昵称</th>
						<th data-field="gender" data-halign="center" data-align="center">性别</th>
						<th data-field="phone" data-halign="center" data-align="center">手机号</th>
						<th data-field="email" data-halign="center" data-align="center">邮箱</th>
						<th data-field="address" data-halign="center" data-align="center">住址</th>
					</tr>
				</thead>
			</table>
		</div>		
	</div>
	
</body>
</html>