<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="layout/default">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body layout:fragment="content">
<script type="text/javascript">
function showAddDialog(){
	$.dialog({
		title: "新增用户",
		content: "url:/perm/dialog_edituser",
		columnClass: "col-sm-8 col-sm-offset-2",
		onContentReady: function(){
			$("#birthday").datepicker();
		},
		onClose: function(){	    								
			$("#table_users").bootstrapTable("refresh");
		}
	});
}
function showEditDialog(){
	var rows = $("#table_users").bootstrapTable('getSelections');
	if(rows.length){		
		$.dialog({
			title: "修改用户",
			content: "url:/perm/dialog_edituser",
			columnClass: "col-sm-8 col-sm-offset-2",
			onContentReady: function () {
	    		$("#id").val(rows[0].id);
	    		$("#account").val(rows[0].account).attr("readonly", "readonly");
	    		$("#nickname").val(rows[0].nickname);
	    		$("#phone").val(rows[0].phone);
	    		$("#email").val(rows[0].email);
	    		$("#address").val(rows[0].address);
	    		$("#remark").val(rows[0].remark); 
	    		$("#birthday").datepicker().datepicker('update', rows[0].nickname);
	    		if(rows[0].gender == "1"){
	    			$("#gender1").click();
	    		}else if(rows[0].gender == "2"){
	    			$("#gender2").click();
	    		}	    		
		    },
		    onClose: function(){	    								
				$("#table_users").bootstrapTable("refresh");
			}
		}); 
	}else{
		$.alert("请选择一条数据");
	}
}
function colFormatter(value, row, index, field){
	var c = "-";
	if(field == "operate"){		
		c = '<a title="设置角色"  href="javascript:showRoleDialog(\''
			+ row.id
			+ '\');"><i class="glyphicon glyphicon-cog"></i></a> ';
	}else if(field == "gender"){
		if(value){
			c = value == 1 ? '男' : '女';
		}
	}
	return c;
}
function showRoleDialog(userId){
	$.dialog({
		title: "角色设置",
		content: "url:/perm/dialog_userroles?userId=" + userId,
		columnClass: "col-sm-8 col-sm-offset-2"
	});
}
</script>

	<div class="container">		
		
		<div id="toolbar">
			<div class="btn-group">
				<button class="btn btn-default" onclick="showAddDialog()">
					<i class="glyphicon glyphicon-plus"></i>
				</button>
				<button class="btn btn-default" onclick="showEditDialog()">
					<i class="glyphicon glyphicon-edit"></i>
				</button>
				<button class="btn btn-default">
					<i class="glyphicon glyphicon-trash"></i>
				</button>
			</div>
		</div>
		
		<table id="table_users" data-toggle="table" data-url="/user/users" data-method="post"
			data-pagination="true" data-side-pagination="server" data-page-size="10"
			data-show-refresh="true" data-show-toggle="true" data-show-columns="true"
			data-search="true" data-show-search-button="true" data-single-select="true"
			data-click-to-select="true" 
			data-toolbar="#toolbar">
			
			<thead>
				<tr>
					<th data-checkbox="true"></th>
					<th data-field="account" data-halign="center" data-align="center">用户名</th>
					<th data-field="nickname" data-halign="center" data-align="center">昵称</th>
					<th data-field="gender" data-halign="center" data-align="center" data-formatter="colFormatter">性别</th>
					<th data-field="phone" data-halign="center" data-align="center">手机号</th>
					<th data-field="email" data-halign="center" data-align="center">邮箱</th>
					<th data-field="address" data-halign="center" data-align="center">住址</th>
					<th data-field="createTime" data-halign="center" data-align="center">注册时间</th>
					<th data-field="status" data-halign="center" data-align="center">状态</th>
					<th data-field="operate" data-halign="center" data-align="center" data-formatter="colFormatter">角色设置</th>
				</tr>
			</thead>
		</table>	
	</div>
	
</body>
</html>