<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="layout/default">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body layout:fragment="content">
<script type="text/javascript">
function showAddDialog(){
	$.dialog({
		title: "新增用户",
		content: "url:/perm/dialog_adduser",
		columnClass: "col-sm-8 col-sm-offset-2"
	});
}
function showEditDialog(){
	var rows = $("#table_users").bootstrapTable('getSelections');
	if(rows.length){		
		$.dialog({
			title: "修改用户",
			content: "url:/perm/dialog_edituser/" + rows[0].account,
			columnClass: "col-sm-8 col-sm-offset-2"
		}); 
	}else{
		$.alert("请选择一条数据");
	}
}
function initOperate(value, row, index){
	var c = '<a title="设置角色"  href="javascript:showRoleDialog(\''
		+ row.id
		+ '\');"><i class="glyphicon glyphicon-cog"></i></a> ';
	return c;
}
function showRoleDialog(userId){
	$.dialog({
		title: "角色设置",
		content: "url:/perm/dialog_userroles?userId=" + userId,
		columnClass: "col-sm-8 col-sm-offset-2"
	});
}
</script>

	<div class="container">		
		
		<div id="toolbar">
			<div class="btn-group">
				<button class="btn btn-default" onclick="showAddDialog()">
					<i class="glyphicon glyphicon-plus"></i>
				</button>
				<button class="btn btn-default" onclick="showEditDialog()">
					<i class="glyphicon glyphicon-edit"></i>
				</button>
				<button class="btn btn-default">
					<i class="glyphicon glyphicon-trash"></i>
				</button>
			</div>
		</div>
		
		<table id="table_users" data-toggle="table" data-url="/user/users" data-method="post"
			data-pagination="true" data-side-pagination="server" data-page-size="10"
			data-show-refresh="true" data-show-toggle="true" data-show-columns="true"
			data-search="true" data-show-search-button="true" data-single-select="true"
			data-toolbar="#toolbar">
			
			<thead>
				<tr>
					<th data-checkbox="true"></th>
					<th data-field="account" data-halign="center" data-align="center">用户名</th>
					<th data-field="nickname" data-halign="center" data-align="center">昵称</th>
					<th data-field="gender" data-halign="center" data-align="center">性别</th>
					<th data-field="phone" data-halign="center" data-align="center">手机号</th>
					<th data-field="email" data-halign="center" data-align="center">邮箱</th>
					<th data-field="address" data-halign="center" data-align="center">住址</th>
					<th data-field="createTime" data-halign="center" data-align="center">注册时间</th>
					<th data-field="status" data-halign="center" data-align="center">状态</th>
					<th data-field="operate" data-halign="center" data-align="center" data-formatter="initOperate">角色设置</th>
				</tr>
			</thead>
		</table>	
	</div>
	
</body>
</html>