<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>用户登陆</title>

<link th:href="@{/common/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/common/css/bootstrapValidator.css}" rel="stylesheet" />
<link th:href="@{/common/css/jquery-confirm.css}" rel="stylesheet" />
<script th:src="@{/common/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/common/js/bootstrap.js}" type="text/javascript"></script>
<script th:src="@{/common/js/bootstrapValidator.js}" type="text/javascript"></script>
<script th:src="@{/common/js/jquery-confirm.js}" type="text/javascript"></script>

</head>
<body>
	<div class="container">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
			<h1 class="text-center">登录</h1>
			<form action="#" th:action="@{login}" th:object="${user}" method="post" >
			
				<div class="form-group">
					<label for="account">用户名：</label>
					<input type="text" class="form-control" th:field="*{account}"  />
					<span class="account-err hidden" th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></span>
				</div>
				<div class="form-group">
					<label for="password">密码：</label>
					<input type="password" class="form-control" th:field="*{password}"  />
					<span class="password-err hidden" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
				</div>
				<div class="checkbox">
					<label> 
						<input type="checkbox" name="rememberMe">记住我
					</label>
					<a class="pull-right" th:href="@{/user/signup}">注册</a>
				</div>
				<div class="text-center">
					<input type="submit" class="btn btn-primary" value="提交" />
				</div>			
			</form>
		</div>
	</div>
	
	<script th:inline="javascript">
		$(function() {
			if($(".account-err").length){
				$.alert({
				    title: '提示',
				    content: $(".account-err").text(),
				});
			} else if($(".password-err").length){
				$.alert({
				    title: '提示',
				    content: $(".password-err").text(),
				});
			}
			
			$('form').bootstrapValidator({
				message : 'This value is not valid',
				feedbackIcons : {
					valid : 'glyphicon glyphicon-ok',
					invalid : 'glyphicon glyphicon-remove',
					validating : 'glyphicon glyphicon-refresh'
				},
				fields : {
					account : {
						message : '验证失败',
						validators : {
							notEmpty : {
								message : '请输入用户名'
							},
							regexp : {
								regexp : /^\w+$/,
								message : '只能包含字母、数字和下划线'
							},
							stringLength : {
								max : 18,
								message : '长度已超出范围'
							}
						}
					},
					password : {
						message : '验证失败',
						validators : {
							notEmpty : {
								message : '请输入密码'
							},
							regexp : {
								regexp : /^\w+$/,
								message : '只能包含字母、数字和下划线'
							},
							stringLength : {
								max : 20,
								message : '长度已超出范围'
							}
						}
					}
				}
			});
		});
	</script>
</body>
</html>