<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>注册</h1>
	<form action="#" th:action="@{signup}" th:object="${user}" method="post">
	
		<p>用户名:<input type="text" th:field="*{account}" /> <span th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></span></p>
		<p>密码:<input type="password" th:field="*{password}" /> <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span></p>
		
		<p>昵称:<input type="text" th:field="*{nickname}"  /> <span th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></span></p>
		<p>手机号码:<input type="text" th:field="*{phone}" /> <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span></p>
		<p>邮箱:<input type="text" th:field="*{email}" /> <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span></p>
		<p><input type="submit" value="提交" /></p>
	
	</form>
</body>
</html>