<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="layout/default">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body layout:fragment="content" data-spy="scroll" data-target="#myScrollspy">
	<style type="text/css">
		/* Custom Styles */
		ul.nav-pills {
			width: 140px;
			border-radius: 4px;
			border: 1px solid #ddd;
			box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
		}
		
		ul.nav-pills li {
			margin: 0;
			border-top: 1px solid #ddd;
		}
		
		ul.nav-pills li:first-child {
			border-top: none;
		}
		
		ul.nav-pills li a {
			/* margin: 0;
			padding: 8px 16px; */
			border-radius: 0;
		}
		
		/* ul.nav-pills li.active a, ul.nav-tabs li.active a:hover {
			color: #fff;
			background: #0088cc;
			border: 1px solid #0088cc;
		} */
		
		ul.nav-pills li:first-child a {
			border-radius: 4px 4px 0 0;
		}
		
		ul.nav-pills li:last-child a {
			border-radius: 0 0 4px 4px;
		}
		
		ul.nav-pills.affix {
			top: 30px; /* Set the top position of pinned element */
		}
	</style> 
	<script>
		$(function() {
			$("#myNav").affix({
				offset : {
					top : 125
				}
			});
			
			$('#dp_birthday input').datepicker({
		        language: 'zh-CN',
		        weekStart: 1,
		        todayBtn:  "linked",   //今日日期按钮
				autoclose: true,   //自动关闭
				todayHighlight: true,   //高亮今日日期
				startDate: '1900-01-01',
				endDate: "today",
		    });
			
			$('form').bootstrapValidator({
				message : 'This value is not valid',
				feedbackIcons : {
					valid : 'glyphicon glyphicon-ok',
					invalid : 'glyphicon glyphicon-remove',
					validating : 'glyphicon glyphicon-refresh'
				},
				fields : {					
					password : {
						message : '验证失败',
						validators : {
							notEmpty : {
								message : '请输入旧密码'
							},
							regexp : {
								regexp : /^\w{6,18}$/,
								message : '密码长度必须在6到18位之间，并且只能包含大写、小写、数字和下划线'
							}
						}
					},
					password1 : {
						message : '验证失败',
						validators : {
							notEmpty : {
								message : '请输入新密码'
							},
							regexp : {
								regexp : /^\w{6,18}$/,
								message : '密码长度必须在6到18位之间，并且只能包含大写、小写、数字和下划线'
							}
						}
					},
					password2 : {
						message : '验证失败',
						validators : {
							notEmpty : {
								message : '请再次输入新密码'
							},
							regexp : {
								regexp : /^\w{6,18}$/,
								message : '密码长度必须在6到18位之间，并且只能包含大写、小写、数字和下划线'
							},
							identical : {
	                            field : 'password1',
	                            message : '两次密码不相同'
	                        }
						}
					},
					nickname : {
						message : '验证失败',
						validators : {
							stringLength : {
								max : 50,
								message : '长度超出最大长度50字符'
							}
						}
					},
					phone : {
						message : '验证失败',
						validators : {
							regexp : {
								regexp: /^1[3-9]\d{9}$/,
								message: '手机号格式有误'
							}
						}
					},
					email : {
						message : '验证失败',
						validators : {
							emailAddress : {
								message: '邮箱格式有误'
							}
						}
					},
					address : {
						message : '验证失败',
						validators : {
							stringLength : {
								max : 200,
								message : '长度超出最大长度200字符'
							}
						}
					},
					remark : {
						message : '验证失败',
						validators : {
							stringLength : {
								max : 200,
								message : '长度超出最大长度200字符'
							}
						}
					}
				}
			}).on('success.form.bv', function(e) {
		        // 阻止默认事件提交
		        e.preventDefault();
		    });
		});
		
		var imgType = [".bmp", ".gif", ".png", ".jpg", ".jpeg"];
		
		function setHeadImg(){
			if($("#input_head").val()){
				$("#form_setHead").ajaxSubmit(function(data){
					if(data.result == "false"){
						$.alert({
						    title: '提示',
						    content: data.message
						});
					}else{
						$.alert({
						    title: '提示',
						    content: "上传成功"
						});
						$("#input_head").val("");
						
						/* var src = $("#img_head").attr("src");
						src = src.substr(0, src.lastIndexOf("/") + 1) + data.headImg;
						$("#img_head").attr("src", src); */
					}
				});
			}
		}
		
		function checkHeadImg(obj){
			if($(obj).val()){
				var filename = $(obj).val();
				var type = filename.substr(filename.lastIndexOf("."));
				if(imgType.indexOf(type) == -1){
					$.alert({
					    title: '提示',
					    content: "图片格式不被支持，仅支持以下图片格式：" + imgType.join("，")
					});
					$(obj).val("");
				}else{
					// 图片预览
					bindAvatar(obj, document.getElementById("img_head"));
				}
			}else{
				$.alert({
				    title: '提示',
				    content: "请选择上传图片"
				});
			}
		}
		
		function bindAvatar(el_input, el_img) {
			
			if(window.URL.createObjectURL){
				el_img.src = window.URL.createObjectURL(el_input.files[0]);	
			} else {
				$.alert({
				    title: '提示',
				    content: "此浏览器不支持预览"
				});
			}
		 }
		
		function saveUserInfo(){
			$("#form_userinfo").data("bootstrapValidator").validate();  
			if($("#form_userinfo").data("bootstrapValidator").isValid()){			
				$("#form_userinfo").ajaxSubmit(function(data){
					if(data.result == "false"){
						$.alert({
						    title: '提示',
						    content: data.errors[0]
						});
					}else{
						$.alert({
						    title: '提示',
						    content: "保存成功"
						});						
					}
				});
			} 
		}
		
		function setPassword(){
			$("#form_setPassword").data("bootstrapValidator").validate();  
			if($("#form_setPassword").data("bootstrapValidator").isValid()){			
				$("#form_setPassword").ajaxSubmit(function(data){
					if(data.result == "false"){
						$.alert({
						    title: '提示',
						    content: data.message
						});
					}else{
						$.alert({
						    title: '提示',
						    content: "保存成功"
						});	
						document.getElementById("form_setPassword").reset();
					}
				});
			} 
		}
	</script>
	<div class="container">
		<div class="jumbotron">
			<h1>Bootstrap Affix</h1>
		</div>
		<div class="row">
			<div class="col-sm-4 col-md-3 col-lg-2" id="myScrollspy">
				<ul class="nav nav-pills nav-stacked" id="myNav">
					<li class="active"><a href="#section-1">修改头像</a></li>
					<li><a href="#section-2">个人信息</a></li>
					<li><a href="#section-3">修改密码</a></li>
					<!-- <li><a href="#section-4">第四部分</a></li>
					<li><a href="#section-5">第五部分</a></li> -->
				</ul>
			</div>
			<div class="col-sm-8 col-md-9 col-lg-10">
				<h3 id="section-1">修改头像</h3>
				
				<div class="row">
					<div class="col-sm-10 col-sm-offset-2">
						<form id="form_setHead" th:action="@{'/user/setHead/'+${user.id}}" method="post" enctype="multipart/form-data">
						<img id="img_head" th:src="@{'/common/headImg/'+${user.headImg}}" class="img-circle" 
							style="width:100px; height:100px; cursor:pointer;"  onclick="$('#input_head').trigger('click');"/>
						<a class="btn btn-default" onclick="setHeadImg()" style="margin-left:20px;">上传头像</a>
						<input type="file" name="file" id="input_head" accept="image/*" 
							style="width:0; height:0;" onchange="checkHeadImg(this)"/>
						</form>
					</div>
				</div>
				
				<hr/>
				
				<h3 id="section-2">个人信息</h3>
				<form id="form_userinfo" th:action="@{/user/setUserinfo}"
					class="form-horizontal" role="form" th:object="${user}" method="post">
					<input type="hidden" th:field="*{id}"/>			
					<div class="form-group">
						<label for="lastname" class="col-sm-2 control-label">昵称</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:field="*{nickname}">
						</div>
					</div>
					<div class="form-group">
						<label for="gender" class="col-sm-2 control-label">性别</label>
						<div class="col-sm-10">
							<label class="radio-inline">
								<input type="radio" th:field="*{gender}" value="1">男
							</label>
							<label class="radio-inline">
								<input type="radio" th:field="*{gender}" value="2">女
							</label>
						</div>
					</div>
					<div class="form-group">
						<label for="birthday" class="col-sm-2 control-label">生日</label>
						<div class="col-sm-10" id="dp_birthday">
							<input type="text" class="form-control" th:field="*{birthday}">
						</div>
					</div>
					<div class="form-group">
						<label for="phone" class="col-sm-2 control-label">手机号码</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:field="*{phone}"/>
						</div>
					</div>
					<div class="form-group">
						<label for="email" class="col-sm-2 control-label">邮箱</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:field="*{email}"/>
						</div>
					</div>
					<div class="form-group">
						<label for="address" class="col-sm-2 control-label">住址</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:field="*{address}"/>
						</div>
					</div>
					<div class="form-group">
					    <label for="remark" class="col-sm-2 control-label">个性签名</label>
					    <div class="col-sm-10">
						    <textarea class="form-control" th:field="*{remark}" rows="3"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<input type="submit" class="btn btn-default" value="保存" onclick="saveUserInfo()"/>
						</div>
					</div>
				</form>
				
				<hr/>
				
				<h3 id="section-3">修改密码</h3>
				<form id="form_setPassword" th:action="@{/user/setPassword}" class="form-horizontal" role="form" method="post">
					<div class="form-group">
						<label for="password" class="col-sm-2 control-label">旧密码</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="password" name="password"/>
						</div>
					</div>
					<div class="form-group">
						<label for="password1" class="col-sm-2 control-label">新密码</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="password1" name="password1"/>
						</div>
					</div>
					<div class="form-group">
						<label for="password2" class="col-sm-2 control-label">再输入一次</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="password2" name="password2"/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<input type="submit" class="btn btn-default" value="保存" onclick="setPassword()"/>
						</div>
					</div>
				</form>
				
				<hr/>				
				
			</div>
		</div>
	</div>
</body>
</html>